.git
.gitignore
README.md
node_modules
client/node_modules
server/node_modules
client/dist
server/dist
client/node_modules/.vite
server/node_modules/.cache
npm-debug.log
*.log
.env
.env.*
!.env.deploy.example
!client/.env.example
!server/.env.example
